@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
* {
  font-family: 'Bungee', cursive;
  color: #e9e9e9;
}

::-webkit-scrollbar {
  width: 0px;
}

div {
  width: 100%;
}

.App {
  z-index: -1;
}

.App .upper-div {
  width: 100%;
  color: #E9E9E9;
  border-bottom: 10px solid #fff;
  background: #222;
  height: 45%;
}

.App .lower-div {
  width: 100%;
  background: #1793d1;
  height: 55%;
}

.upper-inner-div {
  height: 45vh;
}

.lower-inner-div {
  height: 55vh;
}

.home .dev-name {
  font-size: calc(1.95rem + 1.5vw);
}

.home .dev-name .last-name {
  background: #1893d1;
  padding: 5px 15px;
  color: #222;
}

.home img {
  width: 180px;
  height: 180px;
  margin: -90px auto 0 auto;
  display: block;
  border: 10px solid #fff;
}

.home .details {
  color: #d9d9d9;
}

.home .details .last-detail {
  background: #1893d1;
  color: #e9e9e9;
}

.home .lower-inner-div {
  padding-top: 0 !important;
}

.home .about-text {
  color: #222;
  line-height: 30px;
}

.home .about-text .highlight {
  background-color: #222;
  padding: 5px 10px;
  border-radius: 5px;
}

.home .about-title span {
  background: #222;
  color: #e9e9e9;
}

.Skill .upper-inner-div .highlight {
  background-color: #1893d1;
  border-radius: 10px;
}

.Skill .progress-bar {
  background-color: #222;
  color: #e9e9e9;
}

.Skill .skill-label {
  background-color: #222;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Skill .skill-1 {
  background: -webkit-gradient(linear, left top, right top, from(#c0392b), to(#8e44ad)) !important;
  background: linear-gradient(to right, #c0392b, #8e44ad) !important;
}

.Skill .skill-2 {
  background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e)) !important;
  background: linear-gradient(to right, #642b73, #c6426e) !important;
}

.Skill .skill-3 {
  background: #ff304f !important;
}

.Skill .skill-4 {
  background: -webkit-gradient(linear, left top, right top, from(#03001e), color-stop(#7303c0), color-stop(#ec38bc), to(#fdeff9)) !important;
  background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9) !important;
}

.Skill .skill-5 {
  background: -webkit-gradient(linear, left top, right top, from(#b92b27), to(#1565c0)) !important;
  background: linear-gradient(to right, #b92b27, #1565c0) !important;
}

.Skill .skill-6 {
  background: -webkit-gradient(linear, left top, right top, from(#009fff), to(#ec2f4b)) !important;
  background: linear-gradient(to right, #009fff, #ec2f4b) !important;
}

.Skill .skill-7 {
  background: -webkit-gradient(linear, left top, right top, from(#333333), to(#dd1818)) !important;
  background: linear-gradient(to right, #333333, #dd1818) !important;
}

.Skill .skill-8 {
  background: -webkit-gradient(linear, left top, right top, from(#03001e), color-stop(#7303c0), color-stop(#ec38bc), to(#fdeff9)) #52565e !important;
  background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9) #52565e !important;
}

.Skill .skill-9 {
  background: -webkit-gradient(linear, left top, right top, from(#03001e), color-stop(#7303c0), color-stop(#ec38bc), to(#fdeff9)) !important;
  background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9) !important;
}

.RecentWork .upper-inner-div .highlight {
  background-color: #1793d1;
  border-radius: 10px;
}
/*# sourceMappingURL=App.css.map */