        @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        * {
            font-family: 'Bungee', 'Poppins', sans-serif;
            color: #e9e9e9;
        }
        
         ::-webkit-scrollbar {
            width: 0px;
        }
        
        div {
            width: 100%;
        }
        
        .highlight {
            &:hover {
                background-color: #e9e9e9 !important;
                color: #1793d1;
            }
        }
        
        .cursor-p {
            cursor: pointer;
        }
        
        .w-fit {
            width: fit-content;
        }
        
        .App {
            z-index: -1;
            .upper-div {
                width: 100%;
                color: #E9E9E9;
                border-bottom: 10px solid #fff;
                background: #222;
                height: 45%;
            }
            .lower-div {
                width: 100%;
                background: #1793d1;
                height: 55%;
            }
            @media (max-width:992px) {
                .upper-div {
                    height: 30%;
                }
                .lower-div {
                    height: 70%;
                }
            }
            @media (max-width:650px) {
                .upper-div {
                    border-bottom: 7px solid #fff;
                    height: 25%;
                }
                .lower-div {
                    height: 75%;
                }
            }
        }
        
        .upper-inner-div {
            height: 45vh;
        }
        
        .lower-inner-div {
            height: 55vh;
        }
        
        .home {
            .dev-name {
                font-size: calc(1.95rem + 1.5vw);
                .last-name {
                    background: #1893d1;
                    padding: 5px 15px;
                    color: #222;
                    &:hover {
                        background-color: #e9e9e9;
                        color: #1793d1;
                    }
                }
            }
            img {
                width: 180px;
                height: 180px;
                margin: -100px auto 0 auto;
                display: block;
                border: 10px solid #fff;
            }
            .details {
                color: hsl(0, 0%, 85%);
                .last-detail {
                    background: #1893d1;
                    color: #e9e9e9;
                }
            }
            .lower-inner-div {
                padding-top: 0 !important;
            }
            .about-text {
                color: #222;
                line-height: 31px;
                .highlight {
                    background-color: #222;
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
            .about-title {
                span {
                    background: #222;
                    color: #e9e9e9;
                }
            }
            @media (max-width:992px) {
                .upper-inner-div {
                    height: 30vh;
                }
                .lower-inner-div {
                    height: 70vh;
                    .about-title {
                        margin-bottom: 25px;
                    }
                    .about-text {
                        padding: 0!important;
                        line-height: 50px !important;
                    }
                }
            }
            @media (max-width:650px) {
                img {
                    width: 120px;
                    height: 120px;
                    margin: -77px auto 0 auto;
                    border: 7px solid #fff;
                }
                .upper-inner-div {
                    height: 25vh !important;
                    padding: 20px 5px !important;
                    .dev-name {
                        margin-top: 20px !important;
                        font-size: calc(1.3rem + 1vw);
                        font-weight: bolder;
                    }
                    .last-name {
                        padding: 3px 10px;
                    }
                }
                .lower-inner-div {
                    .about-title {
                        margin-bottom: 10px;
                        font-weight: bold;
                    }
                    .last-about {
                        padding: 2px 3px !important;
                    }
                    .about-text {
                        font-size: 15px !important;
                        line-height: 25px !important;
                        .highlight {
                            padding: 1px 3px;
                        }
                    }
                    height: 75vh !important;
                    padding: 1rem !important;
                }
            }
        }
        
        .Skill {
            @media (max-width: 992px) {
                .upper-inner-div {
                    height: 30vh;
                }
                .lower-inner-div {
                    height: 70vh;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .skill {
                        padding: 35px 15px !important;
                    }
                }
            }
            @media (max-width:650px) {
                .upper-inner-div {
                    height: 25vh !important;
                    padding: 5px 10px !important;
                    .highlight {
                        padding: 2px 3px !important;
                    }
                }
                .lower-inner-div {
                    height: 75vh !important;
                    overflow-y: scroll;
                    .skill {
                        padding: 5px 5px !important;
                    }
                }
            }
            .upper-inner-div {
                .highlight {
                    background-color: #1893d1;
                    border-radius: 10px;
                }
            }
            .progress-bar {
                background-color: #222;
                color: #e9e9e9;
            }
            .skill-label {
                background-color: #222;
                border-radius: 10px;
                width: fit-content;
            }
            @each $key,
            $color in (skill-1:linear-gradient(to right,
            rgb(192, 57, 43),
            rgb(142, 68, 173)),
            skill-2:linear-gradient(to right,
            rgb(100, 43, 115),
            rgb(198, 66, 110)),
            skill-3:#ff304f,
            skill-4: linear-gradient(to right,
            rgb(3, 0, 30),
            rgb(115, 3, 192),
            rgb(236, 56, 188),
            rgb(253, 239, 249)),
            skill-5:linear-gradient(to right,
            rgb(185, 43, 39),
            rgb(21, 101, 192)),
            skill-6: linear-gradient(to right,
            rgb(0, 159, 255),
            rgb(236, 47, 75)),
            skill-7: linear-gradient(to right,
            rgb(51, 51, 51),
            rgb(221, 24, 24)),
            skill-8: linear-gradient(to right,
            rgb(3, 0, 30),
            rgb(115, 3, 192),
            rgb(236, 56, 188),
            rgb(253, 239, 249))#52565e,
            skill-9:linear-gradient(to right,
            rgb(3, 0, 30),
            rgb(115, 3, 192),
            rgb(236, 56, 188),
            rgb(253, 239, 249))) {
                .#{$key} {
                    background: $color !important;
                }
            }
        }
        
        .RecentWork {
            @media (max-width: 992px) {
                .h-fit {
                    height: fit-content;
                }
                .upper-inner-div {
                    height: 30vh !important;
                }
                .lower-inner-div {
                    height: 70vh !important;
                }
            }
            @media (max-width: 650px) {
                .upper-inner-div {
                    height: 25vh !important;
                    .title {
                        font-size: 25px !important;
                        .highlight {
                            padding: 5px 5px !important;
                        }
                    }
                }
                .lower-inner-div {
                    height: 75vh !important;
                }
            }
            .upper-inner-div {
                .highlight {
                    background-color: #1793d1;
                    border-radius: 10px;
                }
            }
            .lower-inner-div {
                .project-card {
                    color: #222;
                    height: fit-content;
                    padding: 0;
                    &:hover {
                        color: #222;
                        .details {
                            width: 100%;
                            height: 100%;
                            color: #222 !important;
                            opacity: 1;
                            .name,
                            .used,
                            .description {
                                padding: 3px 3px !important;
                                word-wrap: break-word;
                            }
                        }
                    }
                    .name,
                    .used,
                    .description .inner-des {
                        color: #222 !important;
                        font-size: 16px !important;
                    }
                    span {
                        background-color: #222;
                        color: #E9E9E9
                    }
                    .details {
                        transition: 0.3s;
                        opacity: 0;
                    }
                }
            }
        }
        
        .Button {
            display: none;
        }
        
        .Contact2 {
            height: 100vh;
            display: block !important;
            .upper-inner-div {
                background-color: #222;
                border-bottom: 15px solid #e9e9e9;
            }
            .lower-inner-div {
                background-color: #1793d1;
            }
        }
        
        .Contact {
            @media (max-width: 992px) {
                .upper-inner-div {
                    height: 30vh !important;
                }
                .lower-inner-div {
                    height: 70vh !important;
                }
            }
            input,
            textarea {
                font-family: 'Poppins', sans-serif !important;
            }
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: calc(10px+2vmin);
            color: white;
            .input-group-text {
                width: 89.71px;
                justify-content: center;
            }
            @media (min-width: 768px) {
                .col-md-5 {
                    flex: 0 0 auto;
                    width: 49% !important;
                }
            }
            @media (max-width: 768px) {
                .col-12 {
                    width: 100% !important;
                }
            }
            .upper-inner-div {
                .highlight {
                    background-color: #1793d1;
                    border-radius: 10px;
                }
            }
            .icon {
                fill: #222;
            }
            .error-text {
                color: hsl(0, 0%, 20%) !important;
            }
            .lower-inner-div {
                height: 65%;
            }
        }
        
        @media (max-width: 768px) {
            .Contact {
                display: none;
            }
            .Button {
                display: block;
                width: fit-content;
                margin: auto;
                padding: 5px 15px;
                font-size: calc(5 * 1vw);
                background: #222;
                color: #e9e9e9 !important;
            }
        }